@charset "utf-8";
/* loading logo */
.loader_bg{
    position: fixed;
    z-index: 1;
    background-color: orange;
    width: 100%;
    height: 100%;
}
.loader{
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}
.loader:before, .loader:after{
    content: '';
    border: 1em solid #ff6600;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}
.loader:before{
    animation-delay: .5s;
}
@keyframes loader{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}


/* --------------------------------------------------------------------------- */

body{
    background-color: orange;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
*{
    margin: 0;
    padding: 0;
    
}
.nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0;
    padding-top: 60px;
    transition: all 0.7s ease-in-out;
}
.nav a{
    display: block;
    padding: 20px 30px;
    font-size: 25px;
    text-decoration: none;
    color: #ccc;
}
.nav a:hover{
    color: #fff;
}
.nav .close{
    position: absolute;
    top: 0;
    right: 22px;
    margin-left: 50px;
    font-size: 30px;
}
.slide a{
    color: #000;
    font-size: 36px;
}
#content{
    padding: 20px;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    
}

/* this main title for wibsite */
.mainTitle{
    font-size: 40px;
}
/* search background div */
.search-box{
    position: absolute;
    top: 30%;
    left: 50%;
    width: 500px;
    height: 200px;
    text-align: center;
    transform: translate(-50%,-50%);
}
/* search div */
#search{
    outline: none;
    width: 256px ;
    height: 28px;
    padding: 9px 9px 9px 20px;
    border: none;
    border-radius: 25px 0 0 25px;
    font-size: 20px;
    transition: all 0.4s ease-in-out;
    opacity: 0.8;
}
/* search change while user on search bar */
#search:focus-visible{
    width: 300px;
    padding-left: 20px;
    box-shadow: 0 4px 8px ;
    opacity: 1;
}
/* search button */
#btn{
    outline: none;
    width: 100px ;
    height: 48px;
    border: none;
    border-radius: 0 25px 25px 0;
    background-color: rgb(245, 103, 21);
    font-size: 20px;
    transition: all 0.8 ease-in-out;
    opacity: 0.8;
    
}
/* search hover button */
#btn:hover{
    background-color: rgb(245, 103, 21);
    box-shadow: 0 2px 4px ;
    opacity: 1;

}
/* ------------------------------------------------------ */

/* store image */
.image{
    width: 218px;
    transition: all 0.2s ease-in-out;
}
/* store image hover */
.image:hover{
    transform: scale(1.1);

}
/* main div for hold stores */
#show{
    position: absolute;
    top: 60%;
    left: 30%;
    width: 40%;
    height: 150px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}
/* storeTitle */
#storeTitle{
    text-decoration: none;
    font-size: 40px;
}
/* store background div for using flex display */
.storeBg{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 40vw;
    
}
/* store div for add description to product*/
#save{
    margin: auto;
    margin-top: 5px;
    outline: none;
    width: 280px ;
    height: 50px;
    border: none;
    border-radius: 24px 24px 24px 24px;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
    display: none;
    background-color: rgb(245, 103, 21);
}
#save:hover{
    background-color: rgb(245, 103, 21);
    box-shadow: 0 2px 4px ;
}