@charset "utf-8";
/* loading logo */
.loader_bg{
    position: fixed;
    z-index: 1;
    background-color: orange;
    width: 100%;
    height: 100%;
}
.loader{
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}
.loader:before, .loader:after{
    content: '';
    border: 1em solid #ff6600;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}
.loader:before{
    animation-delay: .5s;
}
@keyframes loader{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}


/* --------------------------------------------------------------------------- */

body{
    background-color: orange;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    direction: rtl;
}
*{
    margin: 0;
    padding: 0;
}
/* this main title for wibsite */
.mainTitle{
    font-size: 40px;
}
/* search background div */
.search-box{
    position: absolute;
    top: 30%;
    left: 50%;
    width: 564px;
    height: 200px;
    text-align: center;
    transform: translate(-50%,-50%);
    
}
/* search div */
#search{
    outline: none;
    width: 256px ;
    height: 28px;
    padding: 9px 9px 9px 20px;
    border: none;
    border-radius: 0 25px 25px 0;
    font-size: 20px;
    transition: all 0.4s ease-in-out;
    opacity: 0.8;
}
/* search change while user on search bar */
#search:focus-visible{
    width: 300px;
    padding-left: 20px;
    box-shadow: 0 4px 8px ;
    opacity: 1;
}
/* search button */
#btn{
    outline: none;
    width: 100px ;
    height: 48px;
    border: none;
    border-radius: 25px 0 0 25px;
    background-color: rgb(245, 103, 21);
    font-size: 20px;
    transition: all 0.2s ease-in-out;
    opacity: 0.8;
}
/* search hover button */
#btn:hover{
    background-color: rgb(245, 103, 21);
    box-shadow: 0 2px 4px ;
    opacity: 1;
}
/* ------------------------------------------------------ */

/* store image */
.image{
    width: 218px;
    transition: all 0.2s ease-in-out;
}
/* main div for hold stores */
#show{
    position: absolute;
    top: 60%;
    left: 30%;
    width: 40%;
    height: 150px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    
}
.test{
    background-color: #ff6600;
    
}

/* storeTitle */
#storeTitle{
    text-decoration: none;
    font-size: 40px;
}
/* store background div for using flex display */
.storeBg{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 40vw;
    margin: 10px;
}
.store{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

#saveWeb{
    margin: 1px;
    height: 40px;
    outline-style: none;
    font-size: 20px;
    border-radius: 0 0 24px 24px;
    border: none;
    transition: all 0.3s ease-in-out;
    background-color: black;
    color: white;

}

#saveWeb:hover{
    background-color: white;
    color: black;
    
}
.image:hover{
    transform: scale(1.1);
}

/* side buttones */
.btn{
    position: absolute;
    top: 15px;
    left: 45px;
    height: 45px;
    width: 45px;
    background: #1b1b1b;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    transition: left 0.4s ease-in-out;
}
/* side buttones */
.btn.click span:before{
    content: '\f00d';
}
/* show side button when click menu icon */
.btn.click{
    left:260px;
}
/* menu icon */
.btn span{
    color: white;
    font-size: 28px;
    line-height: 45px;
}
/* sidebar settings */
.sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    left: -250px;
    background: #1b1b1b;
    transition: left 0.4s ease-in-out;
}
/* sidebar show settings */
.sidebar.show{
    left: 0px;
}
/* sidebar  word settings*/
.sidebar .text{
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    background: #1e1e1e;
    letter-spacing: 1px;
}
/* drop menu inside sidebar */
nav ul{
    background: #1b1b1b;
    height: 100%;
    width: 100%;
    list-style: none;
    
}
/* drop menu inside sidebar */
nav ul li{
    line-height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
/* drop menu inside sidebar */
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}
/* drop menu inside sidebar */
nav ul li a:hover{
    color: cyan;
    background: #1e1e1e;
    border-left-color: cyan ;
}
/* hide list inside sidebar */
nav ul ul{
    position: static;
    display: none;
}
/* show side bar */
nav ul .feat-show.show{
    display: block;
}
/* drop menu inside sidebar */
nav ul ul li{
    line-height: 42px;
    border-bottom: none;
    font-size: 15px;
}
/* drop menu inside sidebar */
nav ul ul li a{
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 80px;
}
/* sidebar icon */
nav ul li a span{
    margin-left: 80px;
    width: 15px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.3s ease-in-out;
}
/* drop menu animation */
nav ul li a span.rotate{
    transform: rotate(-180deg)
}
/* ---------------------------------------- */
.fa-trash-alt:hover{
    color: red;
}